<footer class="container-footer">
  <div class="container-links">
    <div class="legal-cookies"><a href="">Legal</a><a href="">Cookies</a></div>
    <div class="info">
      <a href="">Información sobre los anuncios</a>
    </div>
  </div>
  <div class="container-copyright">
    <div class="container-spain">
      <span class="spain">España</span>
      <div class="flag">
        <img class="flag-spain" src="./images/es.svg" alt="Bandera de España" />
      </div>
    </div>
    <span class="copyright">&copy; 2019 Spotify AB </span>
  </div>
</footer>
