<main>
  <article class="hero">
    <h1 class="title">Prueba Premium gratis 3 meses</h1>
    <h2 class="subtitle">
      Escucha millones de canciones sin anuncios, a la carta y sin conexión.
    </h2>
    <button class="button">VER PLANES</button>
    <p class="terminos-condiciones">
      Rigen términos y condiciones. Los 3 meses gratis no están disponibles para
      usuarios que ya hayan probado Premium.
    </p>
  </article>
  <article class="container-premium">
    <h2 class="title-premium">¿Por qué pasarte a Premium?</h2>
    <section class="section-beneficios">
      <div class="beneficios">
        <img
          class="img-beneficios"
          src="./images/benefit-1.png"
          alt="Descargar música"
        />
        <div class="text-beneficios">
          <h3>Descarga música.</h3>
          <p>Llévala siempre contigo.</p>
        </div>
      </div>
      <div class="beneficios">
        <img
          class="img-beneficios"
          src="./images/benefit-2.png"
          alt="Sin anuncios"
        />
        <div class="text-beneficios">
          <h3>Sin anuncios.</h3>
          <p>Disfruta de música sin interrupciones.</p>
        </div>
      </div>
      <div class="beneficios">
        <img
          class="img-beneficios"
          src="./images/benefit-3.png"
          alt="Escucha lo que quieras"
        />
        <div class="text-beneficios">
          <h3>Escucha lo que quieras.</h3>
          <p>Incluso en el móvil.</p>
        </div>
      </div>
      <div class="beneficios">
        <img
          class="img-beneficios"
          src="./images/benefit-4.png"
          alt="Saltar canciones"
        />
        <div class="text-beneficios">
          <h3>Salta todas las canciones que quieras.</h3>
          <p>Simplemente dale a siguiente.</p>
        </div>
      </div>
    </section>
  </article>
</main>
